.box {
  width: 150px;
  height: 150px;
  border-radius: 1em;
  background-color: #f9f07e;
  margin-left: auto;
  margin-right: auto;
}
.box2 {
  background: linear-gradient(rgb(16, 16, 16, 1), rgb(16, 16, 16, 0));
}
.parallax {
  margin-left: auto;
  margin-right: auto;
}

.parallax_background {
  background-color: #fff;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
}
