html,
body {
	background-color: black;
	height: 2000px;
	overflow-x: hidden;
}
@import 'tailwindcss';

@theme {
	--font-inter: Inter;
	--font-monomaniac: Monomaniac;
}

@font-face {
	font-family: Inter;
	font-style: normal;
	src: url('/fonts/Inter-Regular.woff') format('woff');
}

@font-face {
	font-family: Monomaniac;
	font-style: normal;
	src: url('/fonts/MonomaniacOne-Regular.woff') format('woff');
}

@layer utilities {
	.section-spacing {
		@apply py-5 sm:py-10 md:py-15 lg:py-20;
		@apply px-5 sm:px-7 md:px-8 lg:px-20;
	}
	.header {
		@apply text-2xl/5 sm:text-3xl/7 md:text-4xl lg:text-5xl xl:text-6xl;
	}
	.section-text {
		@apply text-white font-inter;
		@apply text-xl sm:text-xl/8 md:text-2xl/10 lg:text-3xl/12 xl:text-4xl/14;
	}
	.section-header-spacing {
		@apply mb-5 md:mb-7 lg:mb-10 xl:mb-12;
	}
	.input {
		@apply w-full p-3 md:p-4 rounded-md bg-white/5 border border-white/10 text-white text-sm md:text-base;
	}
	.description {
		@apply text-sm/6 sm:text-sm/6 md:text-base/8 lg:text-xl/10 xl:text-2xl/10;
		@apply text-gray-400;
	}
	.description-highlight {
		@apply text-sm/6 sm:text-sm/6 md:text-base/8 lg:text-xl/10 xl:text-2xl/10;
		@apply text-sky-400;
	}
	.header-margin {
		@apply md:mb-5 lg:mb-8 xl:mb-10;
	}
	.primary-button {
		@apply bg-sky-400 flex justify-center items-center rounded-2xl text-white font-inter w-full;
		@apply px-1 py-2 text-sm; /* Default size */
		@apply sm:px-2 sm:py-1 sm:text-base;
		@apply md:px-3 md:py-2 md:text-base;
		@apply lg:px-3 lg:py-2 lg:text-lg;
		@apply xl:px-8 xl:py-3 xl:text-xl;
	}
	.secondary-button {
		@apply bg-black flex justify-center items-center rounded-2xl border-sky-400 border-2 text-white font-inter w-full;
		@apply px-1 py-2 text-sm; /* Default size */
		@apply sm:px-2 sm:py-1 sm:text-base;
		@apply md:px-3 md:py-2 md:text-base;
		@apply lg:px-3 lg:py-2 lg:text-lg;
		@apply xl:px-8 xl:py-3 xl:text-xl;
	}
	.header-container {
		@apply xl:mt-10;
	}
	.tools-section-header {
		@apply text-xl 2xl:text-3xl;
		@apply text-white;
	}
	.description-white {
		@apply text-sm md:text-base text-gray-300;
	}
}
