{
	"semi": true,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 90,
	"tabWidth": 2,
	"useTabs": true,
	"bracketSpacing": true,
	"arrowParens": "always",
	"jsxSingleQuote": false,
	"endOfLine": "lf",
	"embeddedLanguageFormatting": "auto"
}
