.webDevTitle {
  color: white;
}

.webDevTitleContainer {
  margin-top: 50px;
  margin-left: 100px;
}

.margin {
  margin-top: 200px;
  margin-right: 100px;
  float: right;
  text-align: right;
  width: 400px;
}
