.App {
  /* box sizing allows you to include padding and border in elements width and height  https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing */
  box-sizing: border-box;
  /* margin: 0; */
  /* padding: 0; */
  font-family: 'Montserrat', sans-serif;
  background-color: black;
}
