html,
body {
	background-color: black;
	height: 2000px;
	overflow-x: hidden;
}
@import 'tailwindcss';

@theme {
	--font-inter: Inter;
	--font-monomaniac: Monomaniac;
}

@font-face {
	font-family: Inter;
	font-style: normal;
	src: url('/fonts/Inter-Regular.woff') format('woff');
}

@font-face {
	font-family: Monomaniac;
	font-style: normal;
	src: url('/fonts/MonomaniacOne-Regular.woff') format('woff');
}

@layer utilities {
	.header {
		@apply text-4xl sm:text-4xl md:text-6xl lg:text-7xl xl:text-6xl;
	}
	.section-text {
		@apply text-white font-inter;
		@apply text-2xl sm:text-xl/8 md:text-2xl/10 lg:text-3xl/12 xl:text-4xl/14;
	}
	.description {
		@apply text-sm/6 sm:text-sm/6 md:text-base/8 lg:text-xl/10 xl:text-2xl/10;
		@apply text-gray-400;
	}
	.description-highlight {
		@apply text-sm/6 sm:text-sm/6 md:text-base/8 lg:text-xl/10 xl:text-2xl/10;
		@apply text-sky-400;
	}
	.header-margin {
		@apply md:mb-5 lg:mb-8 xl:mb-10;
	}
	.primary-button {
		@apply bg-sky-400 flex justify-center items-center rounded-2xl text-white font-inter w-full h-[60px];
		@apply px-6 py-2 text-sm; /* Default size */
		@apply sm:px-8 sm:py-2 sm:text-base;
		@apply md:px-8 md:py-1 md:text-base;
		@apply lg:px-8 lg:py-0 lg:text-xl;
		@apply xl:px-8 xl:py-1 xl:text-2xl;
	}
	.secondary-button {
		@apply bg-black flex justify-center items-center rounded-2xl border-sky-400 border-2 text-white font-inter w-full h-[60px];
		@apply px-6 py-2 text-sm; /* Default size */
		@apply sm:px-8 sm:py-3 sm:text-base;
		@apply md:px-8 md:py-4 md:text-xl;
		@apply lg:px-8 lg:py-5 lg:text-xl;
		@apply xl:px-8 xl:py-6 xl:text-xl;
	}
	.header-container {
		@apply xl:mt-10;
	}
	.tools-section-header {
		@apply text-xl 2xl:text-3xl;
		@apply text-white;
	}
	.section-spacing {
		@apply my-5 sm:my-10 md:my-40;
		@apply px-6 sm:px-7 md:px-8;
	}
}
